@keyframes pastel-color-cycle {

    0% {
        background: #E6FBFE;
    }

    25% {
        background: #FFE7EE;
    }

    50% {
        background: #FFEAD2;
    }

    75% {
        background: #F2EBFF;
    }

    100% {
        background: #DDE7FF;
    }
}

@keyframes gradient-cycle {

    0% {
        color: var(--color-primary);
    }

    25% {
        color: var(--color-secondary);
    }

    50% {
        color: var(--color-primary);
    }

    100% {
        color: var(--color-secondary);
    }

}

$animated-color-gradient: gradient-cycle 16s linear infinite;

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.possible {
    display: flex;
    gap: var(--s16);

    a {
        padding: var(--s16) var(--s24);
        font-size: 14px;
        text-align: center;
        font-weight: 500;
        border-radius: var(--s144);
        border: 1px solid transparent;
        width: 6vw;
        justify-content: center;
        background: var(--color-gradient);
        color: var(--color-white);
        transition: all .2s ease-in-out;

        &:hover {
            opacity: .8;
        }
    }

    .ghostButton {
        background: rgb(248, 247, 244);
        color: var(--color-dark);
    }
}

.header {
    display: flex;
    padding: var(--s24) 0;

    .headerWrapper {
        width: 1280px;
        margin: 0 auto;
    }

    .headerContent {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {

            img {
                height: var(--s56);
            }
        }

        .navigation {
            display: flex;
            gap: var(--s48);

            a {
                position: relative;
                font: var(--text-body-medium);
                line-height: var(--s16);
                background-color: transparent;
                transition: background-color .2s linear;
                overflow: hidden;

                &::after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background: var(--color-gradient);
                    bottom: 0;
                    left: 0;
                    transform: translateX(-100%);
                    transition: transform .2s linear;
                }

                &:hover::after {
                    transform: translateX(0);

                }

                &:nth-child(4)::after {
                    background: none;
                }
            }
        }
    }
}

.headerMobile {
    display: none;

    .headerWrapper {
        width: 1280px;
        margin: 0 auto;
    }

    .headerContent {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {

            img {
                height: var(--s56);
            }
        }

        .navigation {
            display: flex;
            gap: var(--s48);

            a {
                font: var(--text-body-medium);
                line-height: var(--s16);
                background-color: transparent;
                transition: background-color .2s linear;

                &:hover {
                    background: var(--color-gradient-fade);
                    transition: background-color .2s linear;
                    // animation: pastel-color-cycle 16s linear infinite;
                }
            }
        }
    }
}



.main {
    width: 100%;
    height: 100%;

    &.darkMode {
        background-color: var(--color-dark);
        color: var(--color-white);

        .header {

            a {
                color: var(--color-white);
            }
        }

        .homeFloater {

            p {
                color: var(--color-dark);
            }

            &:hover {
                animation: pastel-color-cycle 32s linear infinite;
                background: unset;
                border: 1px solid transparent;
            }
        }

        .possible {

            .positiveButton {
                background: var(--color-white);
                color: var(--color-dark);
            }

            .ghostButton {
                background: transparent;
                color: var(--color-white);
                border: 1px solid var(--color-white);
            }
        }

        .serviceSection {

            .List {

                .serviceName {
                    color: var(--color-dark);
                }
            }
        }

        .ctaSection {
            background: transparent;

            .ctaDescription {

                a {
                    padding: 0;
                    color: var(--color-white);
                    background: none;
                    margin-left: 0;
                }
            }
        }

        .footer {

            .index {

                a {
                    color: var(--color-white);
                }
            }
        }

    }


}

.homeSection {
    padding: var(--s80) 0 var(--s120) 0;

    .container {
        max-width: 892px;
        margin: 0 auto;
        text-align: center;
    }

    .homeFloater {
        display: inline-flex;
        gap: var(--s16);
        justify-content: center;
        align-items: center;
        font-family: var(--typeface-display);
        font-weight: 500;
        padding: var(--s12) var(--s16);
        border-radius: 100vw;
        border: 1px solid transparent;
        animation: pastel-color-cycle 32s linear infinite;
        transition: all .2s ease-in-out;

        &:hover {
            animation: none;
            background: transparent;
            border: 1px solid var(--color-dark);
        }

        .indonesian {
            width: 24px;
            height: 24px;
            background: url('../assets/writer.svg');
            background-size: 24px 24px;
        }
    }

    .homeTitle {

        h1 {
            margin-top: var(--s40);
            font-family: var(--typeface-display);
            font-size: var(--s64);
            line-height: var(--s80);
            font-weight: 700;

            span {
                animation: $animated-color-gradient;

            }
        }

        h5 {
            margin-top: var(--s32);
            font-size: 20px;
        }
    }
}

.aboutSection {
    margin-top: var(--s80);

    .aboutContent {
        display: flex;
        gap: var(--s80);
        justify-content: space-between;

        .aboutUs {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .obvious {
                font-size: var(--s48);
                font-weight: 500;
                line-height: var(--s64);
            }

            .easy {
                font-size: var(--s16);
                line-height: 28px;
                margin: var(--s24) 0;
            }


        }

        .aboutImages {
            position: relative;

            .imageTwo {
                position: absolute;
                bottom: -80px;
                right: 0;
            }
        }
    }
}

.serviceSection {
    margin: var(--s160) 0;

    .serviceContent {
        .serviceListTitle {
            font-size: var(--s48);
            font-weight: 500;
        }

        .serviceList {
            margin-top: var(--s80);
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: var(--s40);

            .List {
                display: flex;
                flex-direction: column;
                gap: var(--s16);

                .listName {
                    width: max-content;
                    display: flex;
                    flex-direction: row;
                    gap: var(--s12);
                    align-items: center;

                    .serviceIcon {
                        width: 24px;
                    }

                    .serviceName {
                        font-size: 20px;
                        font-weight: 600;
                    }
                }

                .serviceDescription {
                    line-height: 28px;

                    a {
                        color: rgb(65, 100, 255);
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

.ctaSection {
    padding: var(--s160) 0;
    position: relative;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(7, 207, 221, 1) 24%, rgba(7, 125, 221, 1) 100%);

    .ctaWave {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 1;

        .waves {
            position: relative;
            width: 100%;
            height: 15vh;
            margin-bottom: -7px;
            /*Fix for safari gap*/
            min-height: 100px;
            max-height: 150px;
        }

        .parallax>use {
            animation: move-forever 100s cubic-bezier(.55, .5, .45, .5) infinite;
        }

        .parallax>use:nth-child(1) {
            animation-delay: -2s;
            animation-duration: 7s;
        }

        .parallax>use:nth-child(2) {
            animation-delay: -3s;
            animation-duration: 10s;
        }

        .parallax>use:nth-child(3) {
            animation-delay: -4s;
            animation-duration: 13s;
        }

        .parallax>use:nth-child(4) {
            animation-delay: -5s;
            animation-duration: 20s;
        }

        @keyframes move-forever {
            0% {
                transform: translate3d(-90px, 0, 0);
            }

            100% {
                transform: translate3d(85px, 0, 0);
            }
        }
    }

    .ctaContent {
        display: flex;
        flex-direction: column;
        gap: var(--s24);
        color: var(--color-white);
        text-align: center;
        justify-content: center;
        position: relative;
        z-index: 2;

        .ctaTitle {
            font-size: var(--s64);
            font-family: var(--typeface-display);
            font-weight: 500;
        }

        .ctaDescription {
            margin: var(--s24) 0;

            a {
                padding: 4px var(--s12);
                background: var(--color-white);
                border-radius: 4px;
                margin-left: var(--s8);
            }
        }

        .possible {
            display: flex;
            justify-content: center;

            a {
                padding: var(--s16) var(--s24);
                font-size: 14px;
                font-weight: 500;
                border-radius: var(--s144);
            }

            .positiveButton {
                display: flex;
                gap: var(--s12);
                background: none;
                color: var(--color-white);
                border: 1px solid var(--color-white);
                font-weight: 500;
                padding: 20px var(--s24);
                transition: all .2s ease-in-out;

                .whatsappBtn {
                    width: 16px;
                    height: 16px;
                }

                &:hover {
                    background: rgb(255, 255, 255, .32);
                }
            }

            .positiveButton.whatsapp {
                color: var(--color-dark);
                background: var(--color-white);
            }
        }
    }
}

.footer {
    padding: var(--s12);

    .footerContent {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;

        .logo {
            display: flex;
            flex-direction: row;
            gap: var(--s24);
            align-items: center;

            img {
                height: var(--s24);
            }
        }

        .index {
            display: flex;
            gap: var(--s16);

            a {
                padding: var(--s8) var(--s12);
            }
        }
    }
}

$breakpoint-mobile: 320px;
$breakpoint-mobile-max: 480px;
$breakpoint-tablet-max: 767px;

@media (min-width: $breakpoint-mobile) and (max-width: $breakpoint-mobile-max) {

    .header {
        display: none;
    }

    .container {
        width: calc(100% - var(--s32));
        max-width: calc(100% - var(--s32)) !important;
    }

    .headerMobile {
        display: block;

        .container {

            .headerContent {
                padding: var(--s12) 0;

                .logo {
                    flex: 1;

                    img {
                        height: var(--s40);
                    }
                }

                .possible {
                    a {
                        width: unset;
                    }
                }

                .navigation {
                    position: relative;

                    .hamburger {
                        width: 32px;
                        height: 32px;
                        margin-right: var(--s24);
                    }

                    .navItems {
                        display: none;
                        position: absolute;
                        flex-direction: column;
                        position: fixed;
                        top: 70px;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: var(--color-white);
                        z-index: 99;

                        &.visible {
                            display: block;
                        }

                        .navItem {
                            display: flex;
                        }
                    }
                }
            }
        }
    }

    .homeSection {
        .homeTitle {
            h1 {
                font-size: var(--s48);
                line-height: var(--s56);
                font-weight: 600;
                margin: var(--s40) auto var(--s24);
            }

            h5 {
                font-size: 18px;
                line-height: var(--s32);
            }
        }
    }

    .aboutSection {
        margin-top: 0;

        .aboutContent {
            flex-direction: column;

            .aboutUs {
                order: 2;
                padding: var(--s16);

                .possible {

                    a {
                        width: 100%;
                        text-align: center;
                    }
                }
            }

            .aboutImages {
                order: 1;

                img {
                    width: 100%;
                }

                .imageTwo {
                    width: 50vw;
                }


            }
        }

    }

    .serviceSection {
        margin: var(--s120) 0;

        .serviceContent {
            padding: 0 var(--s16);

            .serviceListTitle {
                font-weight: 400;
                font-size: var(--s32);
                line-height: var(--s40);
            }

            .serviceList {
                display: flex;
                flex-direction: column;
                gap: var(--s40);
                grid-template-columns: 0;
                margin-top: var(--s56);
            }
        }
    }

    .ctaSection {
        padding: var(--s80) 0;

        .possible {
            width: 100%;

            a {
                justify-content: center;
                align-items: center;
                font-size: var(--s16);
                width: 100%;
                padding: 0 var(--s40);
            }

        }

        .ctaDescription {
            display: flex;
            flex-direction: column;
            gap: var(--s16);

            a {
                display: inline-block;
                text-align: center;
                padding: var(--s12) var(--s16) !important;
            }
        }
    }

    .footer {
        .index {
            display: none !important;
        }
    }
}

@media (min-width: $breakpoint-mobile-max) and (max-width: $breakpoint-tablet-max) {
    .container {
        width: 560px;
        max-width: 560px !important;
    }

    .homeSection {

        h1 {
            font-size: var(--s48) !important;
            line-height: var(--s64) !important;
        }

        h5 {
            line-height: var(--s32);
        }
    }

    .headerWrapper {
        width: 560px !important;
    }

    .serviceList {
        grid-template-columns: repeat(1, 1fr) !important;
    }

    .possible {
        a {
            width: 100%;
        }
    }

    .aboutSection {
        margin-top: 0;

        .aboutContent {
            flex-direction: column;

            .aboutUs {
                order: 2;
                padding: var(--s16);

                .possible {

                    a {
                        width: 100%;
                        text-align: center;
                    }
                }
            }

            .aboutImages {
                order: 1;

                img {
                    width: 400px;
                    padding: var(--s80);
                }

                .imageTwo {
                    width: 160px;
                }


            }
        }

    }
}

@media (min-width: 768px) and (max-width: 1190px) {
    .container {
        width: calc(100% - var(--s120));
        max-width: calc(100% - var(--s120));
    }

    .headerWrapper {
        width: calc(100% - var(--s120)) !important;
    }

    .serviceList {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .aboutSection {

        .container {

            .aboutContent {
                flex-direction: column;

                .aboutUs {
                    order: 2;
                }

                .aboutImages {
                    order: 1;
                    text-align: center;

                    img {
                        width: calc(100% - var(--s80));
                    }

                    .imageTwo {
                        width: 160px;
                        bottom: -16px !important;
                    }
                }
            }
        }
    }

    .possible {
        a {
            width: 100%;
        }
    }
}

@media (min-width: 1100px) and (max-width: 1280px) {

    .headerWrapper {
        width: 960px !important;
    }

    .container {
        width: 960px;
    }

    .positiveButton {
        width: 12vw !important;
    }

    .serviceList {
        grid-template-columns: repeat(2, 1fr);
    }

    .aboutImages {

        img {
            width: 400px;
        }

        .imageTwo {
            width: 160px;
            bottom: -16px !important;
        }
    }

    .possible {
        a {
            width: 100% !important;
        }
    }
}