@keyframes pastel-color-cycle {

    0% {
        background: #E6FBFE;
    }

    25% {
        background: #FFE7EE;
    }

    50% {
        background: #FFEAD2;
    }

    75% {
        background: #F2EBFF;
    }

    100% {
        background: #DDE7FF;
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.possible {
    display: flex;
    gap: var(--s16);

    a {
        padding: var(--s16) var(--s24);
        font-size: 14px;
        text-align: center;
        font-weight: 500;
        border-radius: var(--s144);
        width: 5vw;
        justify-content: center;
        background: var(--color-primary);
        color: var(--color-white);
    }

    .ghostButton {
        background: var(--color-white);
        color: var(--color-dark);
    }
}

.header {
    display: flex;
    padding: var(--s24) 0;

    .headerWrapper {
        width: 1280px;
        margin: 0 auto;
    }

    .headerContent {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {

            img {
                height: var(--s56);
            }
        }

        .navigation {
            display: flex;
            gap: var(--s48);

            a {
                font: var(--text-body-medium);
                line-height: var(--s16);
                background-color: transparent;
                transition: background-color .2s linear;

                &:hover {
                    background: var(--color-gradient-fade);
                    transition: background-color .2s linear;
                    // animation: pastel-color-cycle 16s linear infinite;
                }
            }
        }
    }
}

.headerMobile {
    display: none;

    .headerWrapper {
        width: 1280px;
        margin: 0 auto;
    }

    .headerContent {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {

            img {
                height: var(--s56);
            }
        }

        .navigation {
            display: flex;
            gap: var(--s48);

            a {
                font: var(--text-body-medium);
                line-height: var(--s16);
                background-color: transparent;
                transition: background-color .2s linear;

                &:hover {
                    background: var(--color-gradient-fade);
                    transition: background-color .2s linear;
                    // animation: pastel-color-cycle 16s linear infinite;
                }
            }
        }
    }
}

.homeSection {
    padding: var(--s80) 0 var(--s120) 0;

    .container {
        max-width: 892px;
        margin: 0 auto;
        text-align: center;
    }

    .homeFloater {
        display: inline-flex;
        gap: var(--s16);
        justify-content: center;
        align-items: center;
        font-family: var(--typeface-display);
        font-weight: 500;
        padding: var(--s12) var(--s16);
        border-radius: 100vw;
        border: 1px solid transparent;
        animation: pastel-color-cycle 32s linear infinite;
        transition: all .2s ease-in-out;

        &:hover {
            animation: none;
            background: transparent;
            border: 1px solid var(--color-dark);
        }

        .indonesian {
            width: 24px;
            height: 24px;
            background: url('../assets/writer.svg');
            background-size: 24px 24px;
        }
    }

    .homeTitle {

        h1 {
            margin-top: var(--s80);
            font-family: var(--typeface-display);
            font-size: var(--s64);
            line-height: var(--s80);
            font-weight: 700;

            span {
                color: var(--color-primary);

            }
        }

        h5 {
            margin-top: var(--s32);
            font-size: 20px;
        }
    }
}

.aboutSection {
    margin-top: var(--s80);

    .aboutContent {
        display: flex;
        gap: var(--s80);
        justify-content: space-between;

        .aboutUs {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .obvious {
                font-size: var(--s48);
                font-weight: 500;
                line-height: var(--s64);
            }

            .easy {
                font-size: var(--s16);
                line-height: 28px;
                margin: var(--s24) 0;
            }


        }

        .aboutImages {
            position: relative;

            .imageTwo {
                position: absolute;
                bottom: -80px;
                right: 0;
            }
        }
    }
}

.serviceSection {
    margin: var(--s160) 0;

    .serviceContent {
        .serviceListTitle {
            font-size: var(--s48);
            font-weight: 500;
        }

        .serviceList {
            margin-top: var(--s80);
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: var(--s40);

            .List {
                display: flex;
                flex-direction: column;
                gap: var(--s16);

                .listName {
                    width: max-content;
                    display: flex;
                    flex-direction: row;
                    gap: var(--s12);
                    align-items: center;

                    .serviceIcon {
                        width: 24px;
                    }

                    .serviceName {
                        font-size: 20px;
                        font-weight: 600;
                    }
                }

                .serviceDescription {
                    line-height: 28px;

                    a {
                        color: rgb(65, 100, 255);
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

.ctaSection {
    padding: var(--s120) 0;
    background: var(--color-gradient);

    .ctaContent {
        display: flex;
        flex-direction: column;
        gap: var(--s24);
        color: var(--color-white);
        text-align: center;
        justify-content: center;

        .ctaTitle {
            font-size: var(--s64);
            font-family: var(--typeface-display);
            font-weight: 500;
        }

        .ctaDescription {
            margin: var(--s24) 0;
        }

        .possible {
            display: flex;
            justify-content: center;

            a {
                padding: var(--s16) var(--s24);
                font-size: 14px;
                font-weight: 500;
                border-radius: var(--s144);
            }

            .positiveButton {
                display: flex;
                gap: var(--s12);
                background: none;
                color: var(--color-white);
                border: 1px solid var(--color-white);
                font-weight: 500;
                padding: 20px var(--s24);
                transition: all .2s ease-in-out;

                .whatsappBtn {
                    width: 16px;
                    height: 16px;
                }

                &:hover {
                    background: rgb(255, 255, 255, .32);
                }
            }

            .positiveButton.whatsapp {
                color: var(--color-dark);
                background: var(--color-white);
            }
        }
    }
}

.footer {
    padding: var(--s12);

    .footerContent {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;

        .logo {
            display: flex;
            flex-direction: row;
            gap: var(--s24);
            align-items: center;

            img {
                height: var(--s24);
            }
        }

        .index {
            display: flex;
            gap: var(--s16);

            a {
                padding: var(--s8) var(--s12);
            }
        }
    }
}

$breakpoint-mobile: 320px;
$breakpoint-tablet: 768px;

@media (min-width: $breakpoint-mobile) and (max-width: $breakpoint-tablet) {

    .header {
        display: none;
    }

    .container {
        width: calc(100% - var(--s32));
        max-width: calc(100% - var(--s32)) !important;
    }

    .headerMobile {
        display: block;

        .container {

            .headerContent {
                padding: var(--s12) 0;

                .logo {
                    flex: 1;

                    img {
                        height: var(--s40);
                    }
                }

                .possible {
                    a {
                        width: unset;
                    }
                }

                .navigation {
                    .hamburger {
                        width: 32px;
                        height: 32px;
                        margin-right: var(--s24);
                    }

                    .navItems {
                        display: none;
                    }
                }
            }
        }
    }

    .homeSection {
        .homeTitle {
            h1 {
                font-size: var(--s48);
                line-height: var(--s56);
                font-weight: 600;
                margin: var(--s40) auto var(--s24);
            }

            h5 {
                font-size: 18px;
                line-height: var(--s32);
            }
        }
    }

    .aboutSection {
        margin-top: 0;

        .aboutContent {
            flex-direction: column;

            .aboutUs {
                order: 2;
                padding: var(--s16);

                .possible {

                    a {
                        width: 100%;
                        text-align: center;
                    }
                }
            }

            .aboutImages {
                order: 1;

                img {
                    width: 100%;
                }

                .imageTwo {
                    width: 50vw;
                }


            }
        }

    }

    .serviceSection {
        margin: var(--s120) 0;

        .serviceContent {
            padding: 0 var(--s16);

            .serviceListTitle {
                font-weight: 400;
                font-size: var(--s32);
                line-height: var(--s40);
            }

            .serviceList {
                display: flex;
                flex-direction: column;
                gap: var(--s40);
                grid-template-columns: 0;
                margin-top: var(--s56);
            }
        }
    }

    .ctaSection {
        padding: var(--s80) 0;

        .possible {
            width: 100%;

            a {
                justify-content: center;
                align-items: center;
                font-size: var(--s16);
                width: 100%;
                padding: 0 var(--s40);
            }

        }
    }

    .footer {
        .index {
            display: none !important;
        }
    }
}