@keyframes pastel-color-cycle {
  0% {
    background: #E6FBFE;
  }
  25% {
    background: #FFE7EE;
  }
  50% {
    background: #FFEAD2;
  }
  75% {
    background: #F2EBFF;
  }
  100% {
    background: #DDE7FF;
  }
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.possible {
  display: flex;
  gap: var(--s16);
}
.possible a {
  padding: var(--s16) var(--s24);
  font-size: 14px;
  text-align: center;
  font-weight: 500;
  border-radius: var(--s144);
  width: 6vw;
  justify-content: center;
  background: var(--color-primary);
  color: var(--color-white);
}
.possible .ghostButton {
  background: var(--color-white);
  color: var(--color-dark);
}

.header {
  display: flex;
  padding: var(--s24) 0;
}
.header .headerWrapper {
  width: 1280px;
  margin: 0 auto;
}
.header .headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .headerContent .logo img {
  height: var(--s56);
}
.header .headerContent .navigation {
  display: flex;
  gap: var(--s48);
}
.header .headerContent .navigation a {
  font: var(--text-body-medium);
  line-height: var(--s16);
  background-color: transparent;
  transition: background-color 0.2s linear;
}
.header .headerContent .navigation a:hover {
  background: var(--color-gradient-fade);
  transition: background-color 0.2s linear;
}

.headerMobile {
  display: none;
}
.headerMobile .headerWrapper {
  width: 1280px;
  margin: 0 auto;
}
.headerMobile .headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerMobile .headerContent .logo img {
  height: var(--s56);
}
.headerMobile .headerContent .navigation {
  display: flex;
  gap: var(--s48);
}
.headerMobile .headerContent .navigation a {
  font: var(--text-body-medium);
  line-height: var(--s16);
  background-color: transparent;
  transition: background-color 0.2s linear;
}
.headerMobile .headerContent .navigation a:hover {
  background: var(--color-gradient-fade);
  transition: background-color 0.2s linear;
}

.homeSection {
  padding: var(--s80) 0 var(--s120) 0;
}
.homeSection .container {
  max-width: 892px;
  margin: 0 auto;
  text-align: center;
}
.homeSection .homeFloater {
  display: inline-flex;
  gap: var(--s16);
  justify-content: center;
  align-items: center;
  font-family: var(--typeface-display);
  font-weight: 500;
  padding: var(--s12) var(--s16);
  border-radius: 100vw;
  border: 1px solid transparent;
  animation: pastel-color-cycle 32s linear infinite;
  transition: all 0.2s ease-in-out;
}
.homeSection .homeFloater:hover {
  animation: none;
  background: transparent;
  border: 1px solid var(--color-dark);
}
.homeSection .homeFloater .indonesian {
  width: 24px;
  height: 24px;
  background: url("../assets/writer.svg");
  background-size: 24px 24px;
}
.homeSection .homeTitle h1 {
  margin-top: var(--s80);
  font-family: var(--typeface-display);
  font-size: var(--s64);
  line-height: var(--s80);
  font-weight: 700;
}
.homeSection .homeTitle h1 span {
  color: var(--color-primary);
}
.homeSection .homeTitle h5 {
  margin-top: var(--s32);
  font-size: 20px;
}

.aboutSection {
  margin-top: var(--s80);
}
.aboutSection .aboutContent {
  display: flex;
  gap: var(--s80);
  justify-content: space-between;
}
.aboutSection .aboutContent .aboutUs {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.aboutSection .aboutContent .aboutUs .obvious {
  font-size: var(--s48);
  font-weight: 500;
  line-height: var(--s64);
}
.aboutSection .aboutContent .aboutUs .easy {
  font-size: var(--s16);
  line-height: 28px;
  margin: var(--s24) 0;
}
.aboutSection .aboutContent .aboutImages {
  position: relative;
}
.aboutSection .aboutContent .aboutImages .imageTwo {
  position: absolute;
  bottom: -80px;
  right: 0;
}

.serviceSection {
  margin: var(--s160) 0;
}
.serviceSection .serviceContent .serviceListTitle {
  font-size: var(--s48);
  font-weight: 500;
}
.serviceSection .serviceContent .serviceList {
  margin-top: var(--s80);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--s40);
}
.serviceSection .serviceContent .serviceList .List {
  display: flex;
  flex-direction: column;
  gap: var(--s16);
}
.serviceSection .serviceContent .serviceList .List .listName {
  width: -moz-max-content;
  width: max-content;
  display: flex;
  flex-direction: row;
  gap: var(--s12);
  align-items: center;
}
.serviceSection .serviceContent .serviceList .List .listName .serviceIcon {
  width: 24px;
}
.serviceSection .serviceContent .serviceList .List .listName .serviceName {
  font-size: 20px;
  font-weight: 600;
}
.serviceSection .serviceContent .serviceList .List .serviceDescription {
  line-height: 28px;
}
.serviceSection .serviceContent .serviceList .List .serviceDescription a {
  color: rgb(65, 100, 255);
  font-weight: 500;
}

.ctaSection {
  padding: var(--s120) 0;
  background: var(--color-gradient);
}
.ctaSection .ctaContent {
  display: flex;
  flex-direction: column;
  gap: var(--s24);
  color: var(--color-white);
  text-align: center;
  justify-content: center;
}
.ctaSection .ctaContent .ctaTitle {
  font-size: var(--s64);
  font-family: var(--typeface-display);
  font-weight: 500;
}
.ctaSection .ctaContent .ctaDescription {
  margin: var(--s24) 0;
}
.ctaSection .ctaContent .ctaDescription a {
  padding: 4px var(--s12);
  background: var(--color-white);
  border-radius: 4px;
  margin-left: var(--s8);
}
.ctaSection .ctaContent .possible {
  display: flex;
  justify-content: center;
}
.ctaSection .ctaContent .possible a {
  padding: var(--s16) var(--s24);
  font-size: 14px;
  font-weight: 500;
  border-radius: var(--s144);
}
.ctaSection .ctaContent .possible .positiveButton {
  display: flex;
  gap: var(--s12);
  background: none;
  color: var(--color-white);
  border: 1px solid var(--color-white);
  font-weight: 500;
  padding: 20px var(--s24);
  transition: all 0.2s ease-in-out;
}
.ctaSection .ctaContent .possible .positiveButton .whatsappBtn {
  width: 16px;
  height: 16px;
}
.ctaSection .ctaContent .possible .positiveButton:hover {
  background: rgba(255, 255, 255, 0.32);
}
.ctaSection .ctaContent .possible .positiveButton.whatsapp {
  color: var(--color-dark);
  background: var(--color-white);
}

.footer {
  padding: var(--s12);
}
.footer .footerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}
.footer .footerContent .logo {
  display: flex;
  flex-direction: row;
  gap: var(--s24);
  align-items: center;
}
.footer .footerContent .logo img {
  height: var(--s24);
}
.footer .footerContent .index {
  display: flex;
  gap: var(--s16);
}
.footer .footerContent .index a {
  padding: var(--s8) var(--s12);
}

@media (min-width: 320px) and (max-width: 480px) {
  .header {
    display: none;
  }
  .container {
    width: calc(100% - var(--s32));
    max-width: calc(100% - var(--s32)) !important;
  }
  .headerMobile {
    display: block;
  }
  .headerMobile .container .headerContent {
    padding: var(--s12) 0;
  }
  .headerMobile .container .headerContent .logo {
    flex: 1;
  }
  .headerMobile .container .headerContent .logo img {
    height: var(--s40);
  }
  .headerMobile .container .headerContent .possible a {
    width: unset;
  }
  .headerMobile .container .headerContent .navigation .hamburger {
    width: 32px;
    height: 32px;
    margin-right: var(--s24);
  }
  .headerMobile .container .headerContent .navigation .navItems {
    display: none;
  }
  .homeSection .homeTitle h1 {
    font-size: var(--s48);
    line-height: var(--s56);
    font-weight: 600;
    margin: var(--s40) auto var(--s24);
  }
  .homeSection .homeTitle h5 {
    font-size: 18px;
    line-height: var(--s32);
  }
  .aboutSection {
    margin-top: 0;
  }
  .aboutSection .aboutContent {
    flex-direction: column;
  }
  .aboutSection .aboutContent .aboutUs {
    order: 2;
    padding: var(--s16);
  }
  .aboutSection .aboutContent .aboutUs .possible a {
    width: 100%;
    text-align: center;
  }
  .aboutSection .aboutContent .aboutImages {
    order: 1;
  }
  .aboutSection .aboutContent .aboutImages img {
    width: 100%;
  }
  .aboutSection .aboutContent .aboutImages .imageTwo {
    width: 50vw;
  }
  .serviceSection {
    margin: var(--s120) 0;
  }
  .serviceSection .serviceContent {
    padding: 0 var(--s16);
  }
  .serviceSection .serviceContent .serviceListTitle {
    font-weight: 400;
    font-size: var(--s32);
    line-height: var(--s40);
  }
  .serviceSection .serviceContent .serviceList {
    display: flex;
    flex-direction: column;
    gap: var(--s40);
    grid-template-columns: 0;
    margin-top: var(--s56);
  }
  .ctaSection {
    padding: var(--s80) 0;
  }
  .ctaSection .possible {
    width: 100%;
  }
  .ctaSection .possible a {
    justify-content: center;
    align-items: center;
    font-size: var(--s16);
    width: 100%;
    padding: 0 var(--s40);
  }
  .footer .index {
    display: none !important;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 560px;
    max-width: 560px !important;
  }
  .homeSection h1 {
    font-size: var(--s48) !important;
    line-height: var(--s64) !important;
  }
  .homeSection h5 {
    line-height: var(--s32);
  }
  .headerWrapper {
    width: 560px !important;
  }
  .serviceList {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .possible a {
    width: 100%;
  }
  .aboutSection {
    margin-top: 0;
  }
  .aboutSection .aboutContent {
    flex-direction: column;
  }
  .aboutSection .aboutContent .aboutUs {
    order: 2;
    padding: var(--s16);
  }
  .aboutSection .aboutContent .aboutUs .possible a {
    width: 100%;
    text-align: center;
  }
  .aboutSection .aboutContent .aboutImages {
    order: 1;
  }
  .aboutSection .aboutContent .aboutImages img {
    width: 400px;
    padding: var(--s80);
  }
  .aboutSection .aboutContent .aboutImages .imageTwo {
    width: 160px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    width: 880px;
    max-width: 880px;
  }
  .headerWrapper {
    width: 880px !important;
  }
  .serviceList {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .aboutImages img {
    width: 400px;
  }
  .aboutImages .imageTwo {
    width: 160px;
    bottom: -16px !important;
  }
  .possible a {
    width: 100%;
  }
}
@media (min-width: 1100px) and (max-width: 1280px) {
  .headerWrapper {
    width: 960px !important;
  }
  .container {
    width: 960px;
  }
  .positiveButton {
    width: 12vw !important;
  }
  .serviceList {
    grid-template-columns: repeat(2, 1fr);
  }
  .aboutImages img {
    width: 400px;
  }
  .aboutImages .imageTwo {
    width: 160px;
    bottom: -16px !important;
  }
  .possible a {
    width: 100% !important;
  }
}/*# sourceMappingURL=style.module.css.map */